PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/prescripto
JWT_SECRET=your_jwt_secret_here
ADMIN_EMAIL=admin@prescripto.com
ADMIN_PASSWORD=admin123
DATABASE_URL="postgresql://postgres:password@localhost:5432/prescripto?schema=public"

# Cloudinary Configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Default Currency
CURRENCY=INR
