@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
}

/* Active Nav Underline Animation */
a.active hr {
  display: block;
}

/* Hide scrollbar for category and booking chips */
::-webkit-scrollbar {
  display: none;
}
